* {
  font-family: "Poppins", sans-serif;
  /* margin: 0;
  padding: 0; */
  ;
}
html, body{
  /* margin: 0;
  padding: 0; */
  overflow-x: hidden;
 
}

body {
  background-color: #000000;
  /* min-height: 400vh; */
  animation: kbeh-animation 0 0.5s ease-in;
  box-sizing: border-box;
  flex-wrap: wrap;
}

@keyframes kbeh-animation {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

:root {
  --primary-color: #f3fde8;
  --nganu-color:#ddf2d1e2;
  --secondary-color: #a8df80;
  --tiga-color: #ffbfbf;
  --empat-color: #ffe5e5;
}

p {
  color: rgb(255, 255, 255);
  font-size: 2.5vh;
}

/* Navbar Styles */
.navbar {
  background-color: #efa74f;
  border-bottom: 1px solid #000000;
  padding: 10px 0;
}
.logo {
  border-radius: 10px;
}
.navbar-brand {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #000000; /* Warna biru */
  font-size: 24px;
}

.logo {
  margin-right: 10px;
}

.navbar-t oggler-icon {
  background-color: #ffffff;
}

.navbar-nav .nav-link {
  color: #333;
  margin-right: 20px;
  font-size: 18px;
  transition: color 1s;
  transition: transform 0.5s;
}

.navbar-nav .nav-link:hover {
  color: #ffffff;
  transform: skewY(5deg);
  /* transform: skewX(10deg); */
  font-size: larger;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url(/assets/img/kopi4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin-bottom: 70px;
}

.title-page-l, .hero-content{
  color: #ddd;
  margin-right: 50vh;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #040101bd 3%, rgba(255, 254, 254, 0) 25%);
}

.hero-a {
  background-image: url("your-hero-background-image.jpg");
  background-size: cover;
  background-position: center;
  color: var(--primary-color);
  padding: 100px 0;
  text-align: center;
  padding-bottom: 100px;
 
}
.hero-a-p{
  color: whitesmoke;
  position: relative;
  right: 5vh;
}

.hero-a p {
  font-size: 1.2rem;
  margin-top: 35px;
  color: white;
  
}

.hero-a-g{
  border-radius: 10px;
}

.title-page {
  font-family: "Kanit", sans-serif; /* Mengganti font */
  font-size: 3rem;
  font-weight: bold;
  color: #ddd;
  margin-top: 35px;
}

.btn-primary {
  background-color: #EAC696;
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 20px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
}


.hero-a-2{
    background-image: url("your-hero-background-image.jpg");
  background-size: cover;
  background-position: center;
  color: var(--primary-color);
  padding: 100px 0;
  text-align: center;
  padding-bottom: 100px;
  /* top: 90vh; */
}

.hero-a-2 p {
  font-size: 1.2rem;
  margin-top: 35px;
}

.hero-a-2, .coenteiner{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

/* card */
.cardcontent {
  padding: 50px 0;
  margin-top: 100px;
  margin-bottom: 20vh;
  padding-bottom: 15vh;
  padding-top: 15vh;
  /* background-color: #ffffff;  */
  /* flex-flow: row wrap; */
  
}

.qanjud{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.card {
  border: none;
  transition: transform 0.3s;
  background-color: #604d1b;
  animation: card-ani 1.5s ease-in;
  /* padding: 20px; */
}

@keyframes card-ani {
  0% {
    
    opacity: 0%;
  }
  100% {
    
    opacity: 100%;
  }
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  max-height: 200px;
  object-fit: cover;
}

.card-text {
  font-size: 1rem;
  color: #666;
}

.h-100{
  background-color: #ddebb7;
}

/* moment */
.menu {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  padding: 20px;
  padding-bottom: 100px;
  animation: card-ani2 2.5s ease-in;
}

@keyframes card-ani2 {
  0% {
    
    opacity: 0%;
  }
  100% {
    
    opacity: 100%;
  }
}


.kok{
  align-items: flex-start;
}



.gambarMoment {
  text-align: center;
  margin: 50px 0;
  margin-bottom: 40vh;
  padding-bottom: 100px; 
  animation: card-ani3 1.5s ease-in;
}

@keyframes card-ani3{
  0%{
   
    opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
}

.momentum img {
  min-width: 75%;
  height: auto;
  margin: 10px;
  border: 2px solid #000000;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(27, 27, 27, 0.8);
  transition-duration: 1s;
  
}




.momentum img:hover {
  transform: scale(1);
  border: 2px  solid #6f5b24 ;
  box-shadow: 0 0 10px 0 rgb(255, 194, 63);
}



/* tentang */
.feather {
  width: 70px;
  height: 70px;
  margin: 30px;
  /* margin-left: 100px; */
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.menu-contact{
text-align: center;
color: whitesmoke;
}



.contact-icon {
  /* background-color: hsl(0, 0%, 0%); */
  padding-bottom: 10vh;
  padding-top: 10vh;
}

footer ul {
  list-style: none;
  padding: 0;
  margin-top: 40px;
}

footer ul li {
  display: inline;
  margin-right: 20px;
  font-size: 16px;
  text-decoration: none;
}

.f-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.suku{
  text-decoration:none; 
}

.vision {
  display: flex;
  align-items: center;
  justify-content: center;
   padding:35vh 10vh 35vh;

}

.judul-tentang{
  display: flex;
  justify-content: center;
  align-items: center;
}

.tentang-p{
  text-align: center;

}

.l-container{
  display: flex;
  align-items: center;
  justify-content: center;
}




.card3{
 
  padding-top: 50vh;
  padding-bottom: 50vh;

}
.lead-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* right: 50vh; */
  /* position: relative; */
  margin-bottom: 20vh;
  top: 50vh;
}

.cardsl{
 position: relative;
 display: flex;
 justify-content: space-between;
 right: 25vh;
}


.cardl {
  width: 350px;
  height: 565px;
  margin: 40px;
  border-radius: 20px;
  background: #38220f;
  /* padding: 50px; */
  transition-duration:0.5s ;
  animation: cardl 1s infinite ease-out;
  transform-origin: center ;
}
@keyframes cardls {
  0% {
      transform: rotate(0deg);
      background-color: blue;
    }
  100% {
    transform: rotate(3600deg);
    background-color: red;
  }
}


.cardl:hover{
   box-shadow: 15px 15px 30px #903700,
             -15px -15px 30px #ff6f00;
}

.judul-leader{
  text-align: center;
  position: relative;
  left: 57vh;
  bottom: 50vh;
  
}


.contentl{
  position: relative;
  text-align: center;
  top: 1vh;
  
}

.card-imeg{
  width: 70%;
 /* flex-direction:row; */
  top: 1.5em;
  position: relative;
  border-radius: 10px;
  align-items: self-start;
  margin-bottom: 2.5vh ;
}

.card-titll, .card-deskl{
  position: relative;
  align-items: end;
  /* top: 1vh; */
}
@media (max-width: 768px) {
  .cardl{
    width: 75%;
    height: auto;
    margin-bottom: 10vh;

  }

  .cardsl{
    right: 20vh;
    flex-direction: column;
    margin-right: 15vh;
    left: 0;
  }

  .judul-leader{
    bottom: 80vh;
    right: 0vh;
    position: relative;
    left: 26.1vh;
    text-align: center;


  }


 
}

/*Text*/


/*Hover*/


.c-container{
  display: flex;
  align-items: center;
  justify-content: center;

}

.card33{
  background-color: #ffbfbf;
}


/* body { 
  background-color: #eef7ff;
 } */

/* center the blockquote in the page */
.blockquote-wrapper {
   display: flex;
   height: 100vh;
   padding: 0 20px;
}

/* Blockquote main style */
.blockquote {
    position: relative;
    font-family: 'Barlow Condensed', sans-serif;
    max-width: 620px;
    margin: 80px auto;
    align-self: center;
}

/* Blockquote header */
.blockquote h1 {
    font-family: 'Abril Fatface', cursive;
    position: relative; /* for pseudos */
    color: #d29e44;
    font-size: 2.8rem;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    border: 2px solid #ff8c00d1;
    border: solid 2px;
    border-radius:20px;
    padding: 25px;
}

/* Blockquote right double quotes */
.blockquote h1:after {
    content:"";
    position: absolute;
    border: 2px solid #d29e44;
    border-radius: 0 50px 0 0;
    width: 60px;
    height: 60px;
    bottom: -62px;
    left: 50px;
    border-bottom: none;
    border-left: none;
    z-index: 3; 
}

.blockquote h1:before {
    content:"";
    position: absolute;
    width: 80px;
    border: 6px solid #d29e44;
    bottom: -3px;
    left: 50px;
    z-index: 2;
}

/* increase header size after 600px */
@media all and (min-width: 600px) {
    .blockquote h1 {
        font-size: 3rem;
        line-height: 1.2;
   }

}

/* Blockquote subheader */
.blockquote h4 {
    position: relative;
    color: #e39c0d;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    padding-top: 15px;
    z-index: 1;
    margin-left:150px;
    padding-left:12px;
}

 
.blockquote h4:first-letter {
  margin-left:-12px;
}

.mak, .min{
  padding-bottom: 50vh;
}

.menu-h1{
  left: 25vh;
  bottom: 1vh;
  position: relative;
  color: whitesmoke;
}
.desk-h1{
  text-align: left;
  position: relative;
  margin-left:25vh ;
  margin-right: 65vh;
  margin-bottom: 9.1vh;
}
.menu-container-u{
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Style card-slider container */
.card-slider {  
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    max-width: 486px;
    margin: 0 auto;
    /* background-color: rgba(59, 130, 246, 0.5); */
   
}

/* Style individual card */
.card-m {
    flex: 0 0 100%;
    scroll-snap-align: start;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-right: 16px;
}
#card-slider-1 {

  /* Menambahkan animasi ke slider */
  transition: 0.5s;
}



.card-m img {
    width: 85%;
    height: auto;
    position: relative;
    left: 4vh;
    display: flex;
    border-radius: 10px;
    top:10px;
    
}

.gambar-cd{
  position: relative;
  justify-content: center;
}

.card-content {
    padding: 16px;

}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.card-description {
    font-size: 16px;
    color: #555;
}

@media (max-width: 768px) {
  .card{

    padding: 10px;

  }

  .menu-container-u{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mak, .min{
  padding-bottom: 30vh ;
}
}



/* var dar theme  */

@media (max-width: 768px) {
  .title-page {
    font-size: 2rem;
  }

  .menu {
    font-size: 1.5rem;
  }

  .navbar-brand {
    font-size: 20px;
  }

  .btn-primary {
    font-size: 16px;
  }

  footer ul li {
    font-size: 14px;
  }

  .carousel-inner{
    font-size: 3rem;
    top: 9vh;
  }

  .navbar{
    padding-bottom: 0;
  }

  .vision{
    padding-top:50px;
    padding-left: 50px;
    padding-right: 50px;
  }

  /* .contact-icon, .container{
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  .contag{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .suku{
    text-align: center;
  }

  .card-m-container{
    margin-left: 5.5vh;
  }

  .card-m-main{
    display: block; 
    
    
  }
  .flip-card{
    width: 100%; /* Menjadi lebar penuh */
    margin-bottom: 10px;
  }

  .makanan, .minuman, .minuman{
    font-size: 16px;
    margin-left: 10px;
  }

  .desk-h1, .desk{
    margin-left:10px;
    margin-right: 10px;
    
  }

  .menu-h1{
    left: 10px;
  }

  .title-page, .hero-content{
    margin-right: 10px;
  }

  /* .card, .img-lead{
  width: 100%;
  max-width: 768px;
  } */

 .hero-a-p{
  right: 0;
 }
 .blockquote-wrapper{
  margin-top:40px ;
 }


}
